.main-button {
    background-color: #ef0f0f;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1em
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

